<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="com.imperas.egui.mpd.core.connectToOVPSimLaunch">
<booleanAttribute key="com.imperas.egui.gdb.core.continueOnStartup" value="false"/>
<booleanAttribute key="com.imperas.egui.mpd.core.autoAllocateMiPort" value="false"/>
<booleanAttribute key="com.imperas.egui.mpd.core.logOutputToFile" value="false"/>
<intAttribute key="com.imperas.egui.mpd.core.miPort" value="0"/>
<booleanAttribute key="com.imperas.egui.mpd.core.newUi" value="true"/>
<intAttribute key="com.imperas.egui.mpd.core.simPort" value="60561"/>
<stringAttribute key="org.eclipse.cdt.launch.DEBUGGER_START_MODE" value="attach"/>
<booleanAttribute key="org.eclipse.cdt.launch.DEBUGGER_STOP_AT_MAIN" value="false"/>
<stringAttribute key="org.eclipse.cdt.launch.DEBUGGER_STOP_AT_MAIN_SYMBOL" value="main"/>
<stringAttribute key="process_factory_id" value="org.eclipse.cdt.dsf.gdb.GdbProcessFactory"/>
</launchConfiguration>
